*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  background: #eee;
}

button {
  font-size: 1em;
  cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
}

section {
  padding: 1em;
  border-radius: 1em;
  border: solid 1px #ccc;
  margin: 2em;
  background: #fff;
  box-shadow: 0 2px 1em 0px rgba(0,0,0,0.1);
}
section > .title {
  border-bottom: solid 1px #ccc;
  margin-top: 0;
}
section > button {
  font-size: 1em;
  padding: 0.5em 1em;
  border: solid 1px #ccc;
  border-radius: 0.5em;
  background: #eee;
  cursor: pointer;
}
section nav {
  padding: 0.5em;
  margin-bottom: 0.5em;
  background: #ddd;
}
section nav * {
  margin-right: 0.5em;
}
section nav input,
section nav button {
  font-size: 1em;
}
section nav input[type="number"] {
  padding-left: 0.25em;
}

section > section {
  border-radius: unset;
  box-shadow: unset;
  margin: 0;
}

#wrapper {
  padding: 1px;
}
