*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  background: #eee;
}

section {
  padding: 1em;
  border-radius: 1em;
  border: solid 1px #ccc;
  margin: 2em;
  background: #fff;
  box-shadow: 0 2px 1em 0px rgba(0,0,0,0.1);
}
section .title {
  border-bottom: solid 1px #ccc;
  margin-top: 0;
}
section button {
  font-size: 1em;
  padding: 0.5em 1em;
  border: solid 1px #ccc;
  border-radius: 0.5em;
  background: #eee;
  cursor: pointer;
}

#wrapper {
  padding: 1px;
}

#flyoutExample {
  display: flex;
  flex-wrap: wrap;
}
#flyoutExample .title {
  width: 100%;
}
#flyoutExample button {
  width: 25%;
}
